main {
  margin-top: 50px;

  & .cards__item {
    height: 150px;
    display: flex;
    padding: 30px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    text-decoration: none;

    @include md {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      width: 385px;
      height: 250px;
      flex: 1;
      margin: 20px;
    }

    &--left {
      flex: 1;
      max-width: 150px;
      height: auto;
      padding: 0 40px;
    }

    &--right {
      flex: 1;
      font-size: 1.5rem;
      font-family: "Lato";
      font-weight: bold;
      font-style: italic;
      color: #017b9a;
      position: relative;

      &--section1:after {
        background-image: url(../images/about-before.svg);
      }

      &--section2:after {
        background-image: url(../images/linkedin-before.svg);
      }

      &--section3:after {
        background-image: url(../images/behance-before.svg);
      }

      &--section4:after {
        background-image: url(../images/artstation-before.svg);
      }

      &:after {
        content: "";
        position: absolute;
        width: 300px;
        height: 75px;
        top: 80px;
        background-repeat: no-repeat;
        display: block;
        z-index: 0;
      }

      & h2:after {
        content: "";
        display: block;
        width: 20px;
        padding-top: 7px;
        border-bottom: 4px solid #ea5a5a;
      }

      & h3 {
        font-size: 4rem;
        position: absolute;
        bottom: -50px;
        opacity: 0.15;
      }
    }
  }
}

.cards__wrapper {
  @include sm {
    display: flex;
    flex-flow: column;
  }

  @include md {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}
