main {
  @include lg {
    box-sizing: border-box;
    flex: none;
  }
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 16px;
  padding: 60px 20px;
  box-sizing: border-box;

  & > .cards__item::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
  }
}

.cards__item {
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  background-color: #3dc5cb;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;

  &:hover {
    top: -10px;
  }
}

.cards__content {
  font-family: "lato", sans-serif;
  color: #fff;

  & h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  & h2 {
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;

    &:after {
      content: "";
      display: block;
      width: 20px;
      padding-top: 7px;
      border-bottom: 4px solid #ea5a5a;
    }
  }
}
