.blogpost {
  padding: 10px 40px;

  &__title {
    font-family: 'Lato';
    font-weight: bolder;
    letter-spacing: 0.2em;
    font-size: 2rem;
    color: #017B9A;
    margin-bottom: 10px;
  }

  &__date {
    width: 100%;
    text-align: left;
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 0.9rem;
    color: #5A5A5A;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  & > img {
    width: calc(100% + (40px * 2));
    margin-left: -40px;
  }

  &__content {
    font-family: Lato;
    letter-spacing: 0.1rem;
    font-weight: 100;
    line-height: 1.50rem;
    color: #017B9A;
    padding: 30px 0;
    text-align: justify;
    border-bottom: 1px solid #C6C6C6;

    & > a {
      color: #EA5A5A;
      font-style: italic;
      text-decoration: underline;
    }
  }
}
