.newsbanner {
  width: 100%;
  background-color: #017B9A;
  padding: 10px;
  box-sizing: border-box;

  & > * {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-style: italic;
    color: #F5F5F5;
  }

  &__arrow {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: auto;
    padding-top: 10px;
  }

  &__link {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    text-decoration: none;
    width: 100%;
    outline: none;
    cursor: pointer;
  }
}
